version: "3.9"

services:
  data-ingestor:
    container_name: cstr_data_ingestor
    build:
      context: ./services/data-ingestor
      dockerfile: Dockerfile
    env_file: .env
    environment:
      S3_ENDPOINT: http://minio:9000
      RABBITMQ_URL: amqp://${RABBITMQ_DEFAULT_USER:-guest}:${RABBITMQ_DEFAULT_PASS:-guest}@cstr_rabbitmq:5672/
      INTERVAL_SECONDS: 300
    depends_on:
      - minio
      - rabbitmq
      - postgres
    networks: [backend]
    restart: unless-stopped

  submission-api:
    container_name: cstr_submission_api
    build:
      context: ./services/submission-api
    env_file: .env
    environment:
      S3_ENDPOINT: http://minio:9000
      INGEST_PREFIX: ${INGEST_PREFIX}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - minio
      - postgres
    ports:
      - "${SUBMISSION_API_PORT:-8088}:8080"
    networks: [backend]
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.submission.rule=PathPrefix(`/api`)"
      - "traefik.http.routers.submission.entrypoints=web"
      - "traefik.http.routers.submission.priority=2"
      - "traefik.http.services.submission.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.submission-strip.stripprefix.prefixes=/api"
      - "traefik.http.middlewares.submission-rl.ratelimit.average=5"
      - "traefik.http.middlewares.submission-rl.ratelimit.burst=10"
      - "traefik.http.middlewares.submission-auth.basicauth.users=${TRAEFIK_BASIC_AUTH_USERS}"
      - "traefik.http.routers.submission.middlewares=submission-auth@docker,submission-strip@docker,submission-rl@docker"

  validation-worker:
    container_name: cstr_validation_worker
    build:
      context: ./services/validation-worker
    env_file: .env
    environment:
      S3_ENDPOINT: http://minio:9000
      RABBITMQ_URL: amqp://${RABBITMQ_DEFAULT_USER:-guest}:${RABBITMQ_DEFAULT_PASS:-guest}@cstr_rabbitmq:5672/
      DATABASE_URL: ${DATABASE_URL}
      INGEST_QUEUE: ${INGEST_QUEUE:-ingestion_raw}
    depends_on:
      - rabbitmq
      - postgres
      - minio
    networks: [backend]
    restart: unless-stopped

  frontend:
    container_name: cstr_frontend
    build:
      context: ./services/frontend
      dockerfile: Dockerfile
    networks: [backend]
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.front.rule=PathPrefix(`/`)"
      - "traefik.http.routers.front.entrypoints=web"
      - "traefik.http.routers.front.priority=1"
      - "traefik.http.services.front.loadbalancer.server.port=80"

  db-maint:
    container_name: cstr_db_maint
    build:
      context: ./services/db-maint
      dockerfile: Dockerfile
    env_file: .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REFRESH_INTERVAL_SECONDS: 86400
    depends_on:
      - postgres
    networks: [backend]
    restart: unless-stopped

networks:
  backend:
    external: true
    name: cstr_backend
