version: "3.9"

services:
  data-ingestor:
    container_name: cstr_data_ingestor
    build:
      context: ./services/data-ingestor
      dockerfile: Dockerfile
    env_file: .env
    environment:
      S3_ENDPOINT: http://minio:9000
      RABBITMQ_URL: amqp://${RABBITMQ_DEFAULT_USER:-guest}:${RABBITMQ_DEFAULT_PASS:-guest}@rabbitmq:5672/
      INTERVAL_SECONDS: 300
    depends_on:
      - minio
      - rabbitmq
      - postgres
    networks: [backend]
    restart: unless-stopped

  submission-api:
    container_name: cstr_submission_api
    build:
      context: ./services/submission-api
      dockerfile: Dockerfile
    env_file: .env
    environment:
      S3_ENDPOINT: http://minio:9000
      INGEST_PREFIX: ${INGEST_PREFIX}
    depends_on:
      - minio
    ports:
      - "48080:8080"
    networks: [backend]
    restart: unless-stopped

networks:
  backend:
    external: true
    name: cstr_backend
